.custom-body {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.custom-container {
    /*max-width: 80%;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    /*padding: 20px;*/
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}


/*body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}*/
.cardcus {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(34, 35, 58, 0.5);
  max-width: 600px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin: auto;
}
.cardcus h2 {
  margin: 0;
  padding: 0 1rem;
}
.cardcus .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 16px;
}
.cardcus .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.cardcus .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.cardcus svg {
  /*width: 85px;*/
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  /*background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);*/
  top: 15px;
  left: 85px;
}

.cardcus-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cardcus-text-b {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /*background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");*/
  background-color: #eee;
  background-position: bottom center;
  background-size: cover;
}
.portada-b {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}


.pill{
    padding: 18px, 10px, 25px;
    background: #059337;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 80px;
    height: 28px;
    display: inline-block;
    text-align: center;

}
.tp {
    font-size: 14px;
}
.price-list {
  font-size: 16px;
  color: black;
}